<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns:gap="http://phonegap.com/ns/1.0" id="org.lovid.iparade" version="2.0.0">
    <name>iParade</name>

    <description>
        iParade is a series of locative media-works, created by LoVid as smart-phone Apps.
    </description>

    <author href="http://lovid.org" email="lovidlovid@gmail.com">
        Lovid, Sean Montgomery, and BJ Warshaw
    </author>

    <access origin="*" />

    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="landscape" />

    <icon src="icon.png" />

    <gap:platform name="ios" />

    <gap:plugin name="org.apache.cordova.console" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
    <gap:plugin name="org.apache.cordova.file" version="1.0.1" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.2" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.9" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />
</widget>

